<div class="row justify-content-center">
  <div class="col-12">
    <table class="table table-striped justify-content-center">
      <thead>
        <tr>
          <th>Player</th>
          <th>Position</th>
          <th>Team</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td>{{item.name}}</td>
          <td>{{item.position}}</td>
          <td>{{item.nationality}}</td>
          <td>{{item.age}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
